@import url("https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.twemoji-small {
  width: 16px;
  height: 16px;
  display: inline-block;
}
